@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmation";
}

<div class="auth-pages-day__headers">
    <h1>@ViewData["Title"]</h1>
    <h3><partial name="_StatusMessage" model="Model.StatusMessage" /></h3>
    <a class="auth-pages-day__text-link-item" asp-page="./Login">Click here to return to the log in page</a>
</div>