@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="auth-pages-day__headers">
    <h1>@ViewData["Title"]</h1>
    <h3>
        Please check your email to reset your password
    </h3>
    <br />
    <a class="auth-pages-day__text-link-item" asp-page="./Login">Click here to return to the log in page</a>
</div>