@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="auth-pages-day__headers">
    <h1>@ViewData["Title"]</h1>
    <h3>Enter your email to get the recovery link</h3>
</div>
<div class="auth-pages-day__input-fields">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <img src="~/images/email-icon0.png" />
            <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="auth-pages-day__button"><p>Reset Password</p></button>
    </form>
    <a class="auth-pages-day__text-link-item" asp-page="./Login">Click here to return to the log in page</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
