@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="auth-pages-day__headers">
    <h1>@ViewData["Title"]</h1>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <h3>
                <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            </h3>
        }
        else
        {
            <h3>
                Please check your email to confirm your account.
            </h3>
            <div class="auth-pages-day__headers">
                <br />
                <h3>Didn't get the confirmation letter?</h3>
                <a class="auth-pages-day__text-link-item" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </div>
        }
    }
</div>