@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="auth-pages-day">
    <img class="auth-pages-day__cloud-1" src="~/images/cloud-10.png" />
    <img class="auth-pages-day__cloud-2" src="~/images/cloud-20.png" />

    <div class="auth-pages-day__headers">
        <h1>Sign up now</h1>
        <h3>and find the team to work on your idea!</h3>
        <div id="otherServicesHeader">
            <a class="auth-pages-day__text-link-item">Click here to register with other services or with your email</a>
        </div>

        <section id="otherServices" class="hidden">
            <br /> <br />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="auth-pages-day__button" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        <p>Continue with @provider.DisplayName</p>
                                    </button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var otherServicesHeader = document.getElementById('otherServicesHeader');
                var otherServicesSection = document.getElementById('otherServices');
                var defaultLogin = document.getElementById('account');

                otherServicesHeader.addEventListener('click', function () {
                    otherServicesSection.classList.toggle('hidden');
                });
                otherServicesHeader.addEventListener('click', function () {
                    defaultLogin.classList.toggle('hidden');
                });
            });
        </script>
    </div>

    <form id="account" method="post" class="auth-pages-day__default-login">
        <div class="auth-pages-day__input-fields">
            <div>
                <img src="~/images/first-name-icon0.png" />
                <input asp-for="Input.FirstName" aria-required="true" placeholder="First name" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div>
                <img src="~/images/second-name-image0.png" />
                <input asp-for="Input.LastName" aria-required="true" placeholder="Surname" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div>
                <img src="~/images/email-icon0.png" />
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div>
                <img src="~/images/password-icon0.png" />
                <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <img src="~/images/confirm-password-icon0.png" />
                <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Confirm the password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button class="auth-pages-day__button" id="registerSubmit" type="submit">
                <p>Register</p>
            </button>
            <a class="auth-pages-day__text-link-item" asp-page="./Login">Already have an account? Log in</a>
        </div>
    </form>


    <svg class="auth-pages-day__color-mode-switch"
         width="112"
         height="112"
         viewBox="0 0 112 112"
         fill="none">

        <circle cx="55.915"
                cy="55.915"
                r="42.9456"
                transform="rotate(22.0213 55.915 55.915)"
                fill="#183D3D" />

        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M43.6879 87.4928C60.7391 94.3892 80.1524 86.1573 87.0489 69.1061C93.9454 52.055 85.7134 32.6416 68.6623 25.7452C64.548 24.0811 60.2962 23.2978 56.1158 23.3067C69.4154 30.7642 75.4117 47.124 69.544 61.6313C63.5017 76.5707 47.0502 84.1759 31.9341 79.467C35.1271 82.8589 39.0864 85.6316 43.6879 87.4928Z"
              fill="#DEF5E5" />
    </svg>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
