@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="auth-pages-day__headers">
    <h1>@ViewData["Title"]</h1>
    <h3>Enter your email to resend the confirmation link</h3>
</div>
<div class="auth-pages-day__input-fields">
    <form method="post">
        <div class="form-floating mb-3">
            <img src="~/images/email-icon0.png" />
            <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="auth-pages-day__button"><p>Resend Link</p></button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
