@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="auth-pages-day">
    <img class="auth-pages-day__cloud-1" src="~/images/cloud-10.png" />
    <img class="auth-pages-day__cloud-2" src="~/images/cloud-20.png" />
    <div class="auth-pages-day__headers">
        <h1>Reset password</h1>
    </div>

    <form method="post">
        <div class="auth-pages-day__input-fields">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div>
                <img src="~/images/email-icon0.png" />
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div>
                <img src="~/images/password-icon0.png" />
                <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <img src="~/images/password-icon0.png" />
                <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="auth-pages-day__button">
                <p>Change my password</p>
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
