@{
    ViewData["Title"] = "Sign Up";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/SignUpPage.css" />

    <style>
        a,
        button,
        input,
        select,
        h1,
        h2,
        h3,
        h4,
        h5,
        p,
        * {
            margin: 0;
            padding: 0;
            border: none;
            text-decoration: none;
            appearance: none;
            background: none;
        }
    </style>
    <title>Sign Up</title>
</head>
<body style="background: #def5e5;">
    <div class="sign-up-page-day">
        <img class="sign-up-page-day__cloud-1" src="~/images/cloud-10.png" />
        <img class="sign-up-page-day__cloud-2" src="~/images/cloud-20.png" />

        <button class="sign-up-page-day__sign-up-button" name="button_signUp" type="button" onclick="alert('The button works!')"><p>Sign up!</p></button>

        <div class="sign-up-page-day__sign-up-now">
            <p class="sign-up-page-day__text-field-1">Sign up now</p>
            <p class="sign-up-page-day__text-field-2">and find the team to work on your idea!</p>
        </div>

        <svg class="sign-up-page-day__color-mode-switch"
             width="112"
             height="112"
             viewBox="0 0 112 112"
             fill="none">
            <circle cx="55.9151"
                    cy="55.915"
                    r="42.9456"
                    transform="rotate(22.0213 55.9151 55.915)"
                    fill="#183D3D" />
            <path fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M43.688 87.4928C60.7391 94.3892 80.1525 86.1573 87.0489 69.1061C93.9454 52.055 85.7135 32.6416 68.6623 25.7452C64.548 24.0811 60.2962 23.2978 56.1159 23.3067C69.4155 30.7642 75.4117 47.124 69.5441 61.6313C63.5017 76.5707 47.0502 84.1759 31.9342 79.467C35.1271 82.8589 39.0864 85.6316 43.688 87.4928Z"
                  fill="#DEF5E5" />
        </svg>

        <div class="sign-up-page-day__register-fields">
            <div>
                <img src="~/images/first-name-icon0.png" />
                <input type="text" maxlength="50" name="first_name" placeholder="First name" />
            </div>
            <div>
                <img src="~/images/second-name-image0.png" />
                <input type="text" maxlength="50" name="second_name" placeholder="Surname" />
            </div>
            <div>
                <img src="~/images/email-icon0.png" />
                <input type="email" maxlength="100" name="email" placeholder="Email" />
            </div>
            <div>
                <img src="~/images/password-icon0.png" />
                <input type="password" minlength="8" maxlength="32" name="password" placeholder="Password" />
            </div>
            <div>
                <img src="~/images/confirm-password-icon0.png" />
                <input type="password" minlength="8" maxlength="32" name="password_confirm" placeholder="Confirm the password" />
            </div>
        </div>
    </div>
</body>
</html>
