@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap');

.home,
.welcome-page {
    width: 100%;
    height: calc(100vh - 70px);
    position: fixed;
    left: 0;
    background: #def5e5;
    overflow: hidden auto;
    display: flex;
    flex-direction: column;
    font-family: 'Fira Sans';
    color: #183d3d;
}

.home__banner {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(270deg, #def5e5 1px, #ffffff00 10px), linear-gradient(180deg, #BCEAD5 1%, rgba(255, 255, 255, 0.00) 13%, rgba(255, 255, 255, 0.00) 88%, #DEF5E5 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), url('/images/home-page-banner.png');
    background-size: cover;
}

    .home__banner > h1 {
        font-size: clamp(28px, 5vw, 56px);
        width: 70%;
        position: relative;
        top: 5%;
        left: 5%;
        text-align: start;
        margin-bottom: 20%;
        font-weight: 700;
    }

    .home__banner > h2 {
        font-size: clamp(24px, 3.5vw, 42px);
        width: 50%;
        position: relative;
        bottom: 5%;
        right: 5%;
        text-align: end;
        align-self: end;
        font-weight: 700;
    }

.home__catalog {
    width: 100%;
}

.home__catalog-container {
    width: 100%;
    height: fit-content;
    padding: 12px 44px;
    background: linear-gradient(270deg, #def5e5 1px, #ffffff00 5em), linear-gradient(180deg, #DEF5E5 0%, #9ED5C5 100%), linear-gradient(90deg, #DEF5E5 0%, #9ED5C5 50.5%, #DEF5E5 100%);
}

.home__catalog-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
}

    .home__catalog-header h2 {
        font-size: clamp(20px, 3vw, 40px);
        font-weight: 600;
        width: calc(100% - 330px);
    }

    .home__catalog-header .home__catalog-filters {
        width: fit-content;
        max-width: 420px;
        position: absolute;
        right: 44px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid #8EC3B0;
        background: #DEF5E5;
        z-index: 2;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: all ease-in-out .2s;
    }

        .home__catalog-header .home__catalog-filters .technologies {
            display: flex;
            flex-direction: row;
            gap: 8px;
            flex-wrap: wrap;
            justify-content: flex-end;
        }

            .home__catalog-header .home__catalog-filters .technologies p {
                font-size: clamp(12px, 1.5vw, 14px);
                background: #BCEAD5;
                padding: 4px 8px;
                border-radius: 8px;
                cursor: pointer;
                transition: ease-in-out .3s;
            }

            .home__catalog-header .home__catalog-filters .technologies p:hover {
                background-color: tomato;
                transform: translateY(-2px)
            }

    .home__catalog-header .home__catalog-filters-header {
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: center;
        cursor: pointer;
    }

        .home__catalog-header .home__catalog-filters-header h3 {
            font-size: clamp(16px, 2.5vw, 24px);
            font-style: normal;
            font-weight: 600;
        }

        .home__catalog-header .home__catalog-filters-header i {
            width: 4px;
            height: 4px;
            margin-bottom: 4px;
        }

    .home__catalog-header .home__catalog-filter {
        display: flex;
        flex-direction: row;
        width: fit-content;
    }

        .home__catalog-filter .customNumberInput{
            border-radius: 0;
            height: auto;
            margin: 0;
            border: 0;
        }

            .home__catalog-filter .customNumberInput::after{
                border-radius: 0;
                height: auto;
                margin: 0;
                border: 0;
            }

            .home__catalog-filter .home__catalog-filter-search {
                display: flex;
                flex-direction: row;
                position: relative;
            }

                .home__catalog-filter .home__catalog-filter-search input {
                    display: block;
                    height: fit-content;
                    color: #183d3d;
                    outline: none;
                }

                .home__catalog-filter .home__catalog-filter-search .button {
                    font-size: clamp(10px, 1.5vw, 12px);
                    margin: 0;
                    padding: 0 12px;
                    color: #183d3d;
                    background-color: lightgrey;
                }

                .home__catalog-filter .home__catalog-filter-search .autocomplete-item {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 60px;
                    border: none;
                    font-size: clamp(14px, 2vw, 16px);
                    border-radius: 0 0 8px 8px;
                    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
                }

                    .home__catalog-filter .home__catalog-filter-search .autocomplete-item:hover {
                        background-color: #9ED5C5;
                    }

.home__catalog-header .home__catalog-filter p,
.home__catalog-header .home__catalog-filter div {
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 400;
    background: #BCEAD5;
    border: 1px solid #183d3d;
    padding: 8px;
    cursor: pointer;
}

            .home__catalog-header .home__catalog-filter p:first-child,
            .home__catalog-header .home__catalog-filter div:first-child {
                font-weight: 600;
                border-radius: 12px 0px 0px 12px;
            }

            .home__catalog-header .home__catalog-filter p:last-child,
            .home__catalog-header .home__catalog-filter div:last-child {
                border-radius: 0px 12px 12px 0px;
            }

.home__catalog-cards {
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%/2, max(360px, 500px)), 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.home__card {
    position: relative;
    width: fit-content;
    max-width: 500px;
    min-width: 360px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    padding: 8px;
    background: linear-gradient(240deg, #BCEAD5 15%, #9ED5C5 50%, #DEF5E5 85%);
    border-radius: 16px;
    border: 1px solid #183D3D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    scroll-snap-align: center;
    flex: 0 0 auto;
}

    .home__card div {
        width: 100%;
    }

    .home__card > div:last-child {
        display: flex;
        flex-direction: row-reverse;
    }

    .home__card .description {
        max-height: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .home__card .description p {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

    .home__card div:not(:first-child):not(:last-child) {
        width: fit-content;
    }

    .home__card h3 {
        width: 100%;
        font-weight: 700;
        text-align: center;
        font-size: clamp(18px, 2vw, 24px);
    }

    .home__card h4 {
        font-weight: 600;
        font-size: clamp(16px, 2.5vw, 20px);
    }

.home__card > div:has(.home__technologies) {
    width: 100%!important;
}

.home__technologies {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 3;
    align-items: center;
    gap: 8px;
}

.home__technologies_technology_name {
    font-weight: 500;
    font-size: clamp(12px, 1.5vw, 14px);
    border-radius: 12px;
    border: 2px solid #BCEAD5;
    background: #DEF5E5;
    padding: 4px 8px;
}

.home__technologies_and_more {
    font-weight: 500;
    font-size: clamp(12px, 1.5vw, 14px);
}

.home__catalog-filters-buttons {
    margin-top: 12px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.home__catalog-filters-buttons .button {
    margin: 0;
}

.home__catalog-pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 12px;
    margin: 20px 0 12px 0;
    border-radius: 8px;
    background: #def5e5;
    box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
}

    .home__catalog-pagination > .dots {
        cursor: default;
    }

    .home__catalog-pagination > li:not(.dots) {
        cursor: pointer;
    }

    .home__catalog-pagination > li:not(.arrow) {
        font-size: clamp(12px, 1.5vw, 16px);
        font-weight: 600;
        border-radius: 8px;
        background: transparent;
        margin: 4px 4px;
        padding: 4px 12px;
    }

        .home__catalog-pagination > li:not(.arrow):not(.dots):hover {
            background: #BCEAD5;
        }

    .home__catalog-pagination .home__catalog-pagination-chosen-page {
        background-color: #BCEAD5 !important;
    }

.home__recommendations {
    width: 100%;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    .home__recommendations h2 {
        font-size: clamp(24px, 3vw, 40px);
        font-weight: 600;
        padding: 44px 44px 0 44px;
    }

    .home__recommendations .home__recommendations-cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;
        height: 320px;
        overflow: auto hidden;
        scroll-snap-type: x mandatory;
        align-items: center;
    }

.home__no-projects-found {
    text-align: center;
    font-family: 'Fira Sans';
    color: #183d3d;
    width: 100%;
    margin: 65px auto;
    font-size: clamp(16px, 2.5vw, 18px);
    line-height: 1.5;
}

/* welcome page style */

.help-page hr,
.welcome-page hr {
    color: #183d3d;
    transform: translateX(50%);
    width: 50%;
    height: 16px;
    border-top: 1px solid #183d3d;
    border-bottom: 1px solid #183d3d;
    opacity: 1;
    margin: 0;
    background: transparent;
}

.help-page > .hr-holder,
.welcome-page > .hr-holder {
    position: relative;
}

.welcome-page h1 {
    font-size: clamp(32px, 5vw, 56px);
    font-weight: 700;
}

.welcome-page h2 {
    font-size: clamp(24px, 4vw, 48px);
    font-weight: 600;
}

.separator-clouds-wide {
    width: calc(100% - 50px);
    height: fit-content;
    position: relative;
    left: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: -2px;
}

    .separator-clouds-wide > *:nth-child(2n) {
        margin: 0 -1px;
    }

    .separator-clouds-wide > div {
        width: calc((100% - 240px)/2);
        height: 17px;
        margin-top: 18px;
    }

        .separator-clouds-wide > div > * {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        .separator-clouds-wide > div > hr {
            transform: none;
        }

.welcome-page__feature-segment {
    width: 100%;
    height: fit-content;
    padding: 40px;
    background: linear-gradient(90deg, #DEF5E5 0%, transparent 1%, transparent 98%, #DEF5E5 100%), linear-gradient(0deg, #DEF5E5 0%, #BCEAD5 50%, #DEF5E5 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

    .welcome-page__feature-segment > h2 {
        width: 65%;
    }

    .welcome-page__feature-segment > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        font-size: clamp(16px, 2.5vw, 20px);
        font-weight: 500;
        cursor: pointer;
    }

    .welcome-page__feature-segment > div > i {
        margin-bottom: 2px;
    }

    .welcome-page__feature-segment > div > a {
        color: #183d3d;
    }

    .welcome-page__feature-segment > div > a::after {
        content: '';
        display: block;
        position: relative;
        width: 100%;
        border-radius: 4px;
        background: linear-gradient(90deg, #183D3D 0%, #8EC3B0 33.5%, #183D3D 69.5%, #8EC3B0 100%);
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        transform: scaleX(0);
        height: 3px;
        bottom: -2px;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .welcome-page__feature-segment > div:hover > a::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

.welcome-page__card-example-segment {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

    .welcome-page__card-example-segment > .welcome-page__card-example-content {
        width: fit-content;
        padding: 0 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
        justify-content: center;
    }

        .welcome-page__card-example-segment > .welcome-page__card-example-content > * {
            margin-bottom: 40px;
        }

        .welcome-page__card-example-segment > .welcome-page__card-example-content > .welcome-page__card-example-desc {
            max-width: 60%;
            min-width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 32px;
            margin-bottom: 40px;
        }

            .welcome-page__card-example-segment > .welcome-page__card-example-content > .welcome-page__card-example-desc > p {
                font-size: clamp(18px, 2.5vw, 24px);
                font-weight: 600;
            }

            .welcome-page__card-example-segment > .welcome-page__card-example-content > .welcome-page__card-example-desc > p:last-child {
                text-align: end;
            }

.welcome-page__register-link-segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 40px;
}

    .welcome-page__register-link-segment p {
        font-size: clamp(16px, 2vw, 20px);
        font-weight: 500;
        width: 70%;
        max-width: 1000px;
        text-align: center;
    }

.home__carousel {
    position: relative;
    display: flex;
    align-items: center;
}

.home__recommendations-cards-container {
    overflow: auto;
    flex: 1;
}

.carousel__button {
    position: absolute;
    background: radial-gradient(circle, #8EC3B0 20%, rgba(255,255,255,0) 100%);
    color: white;
    padding: 20px 6px;
    border: none;
    cursor: pointer;
    font-size: clamp(18px, 2.5vw, 24px);
    opacity: 0.8;
    z-index: 1;
}

    .carousel__button:hover {
        opacity: 1;
    }

.carousel__button--left {
    left: 0;
}

.carousel__button--right {
    right: 0;
}

@media (max-width: 600px) {
    .home__banner > h1 {
        font-size: 28px;
        width: 90%;
        left: 5%;
        margin-top: 2vh;
        margin-bottom: 25vh;
    }

    .home__banner > h2 {
        font-size: 24px;
        width: 90%;
        right: 5%;
        margin-top: 25vh;
        margin-bottom: 2vh;
    }

    .home__catalog-header {
        padding: 2vh 4vw;
    }

    .home__catalog-header h2 {
        font-size: 24px;
        width: 70vw;
    }

    .home__catalog-header .home__catalog-filters {
        right: 1vw;
        max-width: 95vw;
    }

    .home__catalog-header .home__catalog-filters-header h3 {
        font-size: 20px;
        content: "Filters";
    }

        .home__catalog-filters:has(.home__catalog-filter:not(.hidden)) {
            transform: translateY(70px);
        }

    .home__recommendations {
        gap: 0;
    }

    .home__recommendations .home__recommendations-cards {
        height: 370px;
        gap: 20px;
        padding: 0 10vw;
        margin: 0 4px;
        scroll-behavior: smooth;
        overflow: scroll hidden;
        justify-content: center;
    }

    .home__card .home__technologies {
        flex-wrap: wrap;
    }

    .home__card {
        height: fit-content;
        margin-left: 2vw;
        min-width: calc(100vw - 50px);
        width: calc(100vw - 50px);
    }
        .home__card h3 {
            font-size: 20px;
        }

        .home__card h4 {
            font-size: 16px;
        }

    .home__recommendations {
        padding: 2vh 0 2vh 0;
    }

        .home__recommendations h2 {
            font-size: 24px;
            text-align: center;
        }

    .project__alt {
        padding: 0 !important;
        margin: 0 0 10vh 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

        .home__carousel .home__card {
            min-width: calc(90vw - 50px);
            max-width: calc(90vw - 50px);
        }

    .welcome-page h1 {
        font-size: 32px;
        width: 80%;
    }

    .welcome-page__register-link-segment h1 {
        text-align: center;
    }

    .welcome-page h2 {
        font-size: 24px;
    }

    .welcome-page__feature-segment {
        flex-direction: column !important;
        gap: 28px;
    }

        .welcome-page__feature-segment > h2 {
            width: 100%;
            text-align: center !important;
        }

    .welcome-page__card-example-segment > .welcome-page__card-example-content {
        justify-content: normal;
        gap: 0;
    }

    .welcome-page__card-example-segment > .welcome-page__card-example-content > .welcome-page__card-example-desc {
        max-width: 80vw;
        transform: translateX(calc(45vw - 50%));
    }

    .welcome-page__card-example-segment > .welcome-page__card-example-content > .welcome-page__card-example-desc > p {
        font-size: 16px;
    }

    .welcome-page__register-link-segment {
        margin-bottom: 80px;
    }

    .welcome-page__register-link-segment p {
        font-size: 16px;
        width: 80vw
    }

    .help-page hr,
    .welcome-page hr {
        color: #183d3d;
        transform: translateX(50%);
        width: 50%;
        height: 8px;
        border-top: 1px solid #183d3d;
        border-bottom: 1px solid #183d3d;
        opacity: 1;
        margin: 0;
        background: transparent;
    }

    .separator-clouds-wide {
        width: calc(100vw - 70px);
        gap: -2px;
    }

        .separator-clouds-wide > *:nth-child(2n) {
            height: 50px;
        }

        .separator-clouds-wide > div {
            width: calc(100% / 2);
            height: 12px;
            margin-top: 14px;
        }

            .separator-clouds-wide > div > * {
                width: 100%;
            }
}