.danger {
    border: 2px solid tomato !important;
}

.button {
    background: #bcead5;
    border: 2px solid #183d3d;
    border-radius: 12px;
    height: auto;
    min-width: fit-content;
    padding: 4px 8px;
    margin: 4px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

    .button > * {
        cursor: pointer;
    }

    .button:hover {
        background: #9ED5C5;
        text-decoration: none;
        color: black;
    }

.align-self-end {
    align-self: flex-end !important;
}

.align-self-center {
    align-self: center !important;
}

.modal__container {
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    overflow: hidden auto;
    scrollbar-gutter: stable;
}

.modal__body,
.modal__body-request {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-self: flex-start;
    gap: 40px 60px;
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background: #def5e5;
    border: 2px solid #183d3d;
    border-radius: 20px;
    padding: 24px 36px;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.modal__body-request {
    background: #bcead5;
    min-height: 250px;
    height: fit-content;
    width: 70%;
    gap: 28px;
    align-self: center;
}

    .modal__body .modal__project-status,
    .modal__body-request .modal__project-status {
        display: flex;
        flex-direction: row;
        gap: 8px;
        font: 400 clamp(13px, 1.3vw, 18px) "Fira Sans";
        height: fit-content;
        color: #183d3d;
    }

        .modal__body .modal__project-status div,
        .modal__body-reques .modal__project-status div {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin: 0;
            width: fit-content;
        }

            .modal__body .modal__project-status div span {
                text-decoration: underline;
                cursor: pointer;
            }

            .modal__body .modal__project-status div .modal__project-status-select-items {
                display: none;
                flex-direction: column;
                gap: 8px;
                position: absolute;
                transform: translateX(-8px) translateY(22px);
                padding: 8px 4px;
                background: #def5e5;
                border-radius: 8px;
                z-index: 2;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
            }

            .modal__body .modal__project-status div .modal__project-status-select-items:hover {
                display: flex;
            }

                .modal__body .modal__project-status div .modal__project-status-select-items p {
                    border-radius: 8px;
                    padding: 2px 8px 2px 8px;
                    height: fit-content;
                    cursor: pointer;
                }

                    .modal__body .modal__project-status div .modal__project-status-select-items p:hover {
                        background: #bcead5;
                        transition: ease-in .3s;
                    }

            .modal__body .modal__project-status div span:hover ~ .modal__project-status-select-items {
                display: flex;
            }

.modal__close-button {
    display: flex;
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid #183d3d;
}

    .modal__close-button .cross-line {
        position: absolute;
        width: 16px;
        height: 4px;
        border-radius: 2px;
        background: #183d3d;
        transform-origin: center;
        transform: rotate(45deg);
    }

        .modal__close-button .cross-line:nth-child(2) {
            transform: rotate(-45deg);
        }

.modal__open-button {
    background: #bcead5;
    border-radius: 10px;
    border-style: solid;
    border-color: #183d3d;
    border-width: 2px;
    padding: 6px;
    font-size: clamp(15px, 2vw, 22px);
    color: #183d3d;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.modal__modal-content {
    margin: 20px auto;
    width: 100%;
}

.modal__header-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex: 1;
}

.modal__header,
.modal__body-subject,
.modal__repository,
.modal__repository-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
}

    .modal__header h1 {
        font: 700 clamp(21px, 3.2vw, 36px) "Fira Sans";
        color: #183d3d;
        width: fit-content;
    }

    .modal__header a,
    .modal__header span {
        background-color: transparent;
        color: #183d3d;
        padding: 0 4px;
        margin: 0 -4px;
        text-decoration: underline;
        cursor: pointer;
        transition: color .5s ease-in-out, background-color .5s ease-in-out;
    }

        .modal__header a:hover,
        .modal__header span:hover {
            color: #def5e5;
            background-color: #183d3d;
        }

.modal__body-subject {
    flex-direction: column;
    background: #bcead5;
    border-radius: 12px;
    border: 1px solid #183d3d;
    padding: 8px;
}

    .modal__body-subject h3 {
        font: 700 clamp(15px, 1.5vw, 20px) "Fira Sans";
        color: #183d3d;
        margin: 4px;
    }

    .modal__body-subject p {
        font: 400 clamp(13px, 1.2vw, 16px) "Fira Sans";
        text-align: justify;
        color: #183d3d;
        margin: 4px;
    }

    .modal__repository > div {
        display: flex;
        flex-direction: row;
        width: fit-content;
        gap: 4px;
        background: transparent;
        border-radius: 24px;
        border: 3px solid #183d3d;
        color: #183d3d;
        padding: 4px 16px;
        align-items: center;
        cursor: pointer;
        transition: all ease-in-out .2s;
    }

    .modal__repository > div > a {
        color: #183d3d;
        pointer-events: auto;
    }

.modal__repository-container {
    justify-content: start;
    align-items: center;
    gap: 6px;
}

.modal__repository-link-input {
    width: 60%;
    resize: none;
    background-color: #def5e5;
    border: 1px solid #183d3d;
    border-radius: 10px;
    color: #183d3d;
    font-family: "Fira Sans", sans-serif;
    font-size: clamp(13px, 1.2vw, 16px);
    font-weight: 400;
    padding: 3px 8px;
}

    .modal__tooltip {
        visibility: hidden;
        width: 120px;
        background-color: #183d3dc6;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 4px 8px;
        position: absolute;
        z-index: 2;
        top: 120%;
    }

    .modal__tooltip::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #183d3dc6 transparent;
    }

.modal__technologies-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-self: stretch;
    flex-shrink: 1;
    position: relative;
    overflow: visible;
}

    .modal__technologies-container > div {
        background: #def5e5;
        min-height: 40px;
        min-width: 40px;
        border-radius: 16px;
        padding: 0 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        position: relative;
        overflow: visible;
    }

    .modal__technologies-container > div > .removeTechOverlay {
        position: absolute;
        background: rgb(180, 63, 63, 0.70);
        width: 100%;
        height: 100%;
        transition: .5s ease-in-out;
        opacity: 0;
        margin: 0;
        padding: 0;
        border-radius: inherit;
    }
    
    .modal__technologies-container.hover-active div:hover .removeTechOverlay {
        transition: .5s ease;
        opacity: 1;
    }

    .modal__technologies-container.hover-active div:hover .modal__tooltip {
        visibility: visible;
    }

    .modal__technologies-container > div > p {
        font-size: clamp(13px, 1.3vw, 16px);
        font-weight: 500;
    }

.modal__text-expandable {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.expanded {
    -webkit-line-clamp: unset !important;
    transition: all ease-in-out .5s;
}

.modal__flex-row-item {
    flex: 1;
    min-width: fit-content;
    min-height: 110px;
    box-sizing: border-box;
}

.modal__user-item,
.modal__danger-item {
    display: flex;
    flex-direction: row;
    gap: 4px;
    width: 100%;
    height: fit-content;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

    .modal__user-item a {
        display: flex;
        flex-direction: row;
        gap: 4px;
        width: 100%;
        height: 40px;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    .project__team-dropdown-item img,
    .modal__user-item img {
        height: 100%;
        border-radius: 50%;
        border: 1px solid #183d3d;
    }

    .modal__user-item p {
        font-size: clamp(13px, 1.3vw, 18px);
        font-weight: 500;
    }

    .modal__user-item i {
        color: tomato;
        animation: slideaway .5s;
        display: none;
    }

@keyframes slideaway {
    from {
        transform: translateX(12px);
        opacity: 0;
    }

    to {
        display: block;
    }
}

    .modal__user-item:hover i {
        display: block;
        opacity: 1;
    }

.modal__user-item i:hover {
    color: red;
}

    .modal__info-tooltip::after {
        display: none;
    }

.modal__danger-item {
    justify-content: space-between;
}

.modal__team-dropdown {
    background: #def5e5;
    border: 2px solid #bcead5;
    border-radius: 16px;
    padding: 4px;
    /*display: flex;*/
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    animation: fadeOut .5s;
}

@keyframes fadeOut {
    from {
        max-height: 0;
    }

    to {
        max-height: 200px;
    }
}

    .modal__team-dropdown-header {
        width: 100%;
        border: 0;
        margin: 0;
        padding: 4px 10px 4px 4px;
        min-height: unset;
        display: flex;
        flex-direction: row-reverse;
    }

        .modal__team-dropdown-header p {
            cursor: pointer;
        }

    .modal__team-dropdown-items {
        border: 0;
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 12px;
        padding: 4px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 1;
        position: relative;
        overflow: hidden auto;
        cursor: pointer;
    }

        .modal__team-dropdown-items p {
            background-image: linear-gradient(to right, #def5e5, #bcead5, #def5e5);
            background-size: 0 100%;
            background-repeat: no-repeat;
            width: 100%;
            color: #183d3d;
            text-align: left;
            position: relative;
            cursor: pointer;
            transition: .5s;
        }

        .modal__team-dropdown-items p:hover {
            background-size: 100% 100%;
        }

.modal__request-container {
    background: #def5e5;
    border: 2px solid #bcead5;
    border-radius: 16px;
    padding: 6px 6px 0px 6px;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    animation: fadeOut .5s;
}

.modal__request-item {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #bcead5;
    border-radius: 12px;
    padding: 8px;
    margin-bottom: 6px;
    position: relative;
}

    .modal__request-item h3 span{
        text-decoration: underline;
    }

    .modal__request-details h4 {
        font: "Fira Sans";
        color: #183d3d;
        font-size: clamp(14px, 1.2vw, 18px);
        font-weight: 500;
    }

.modal__request-details {
    display: flex;
    flex-direction: row;
    gap: 5px 25px;
    flex-wrap: wrap;
}

    .modal__request-details > div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

.modal__request-button {
    display: flex;
    gap: 10px;
    margin-right: 40px;
}

.modal__request-accept-button {
    color: #183d3d;
    font-size: clamp(14px, 1.3vw, 17px);
}

.modal__request-hide-button {
    display: flex;
    height: 25px;
    width: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #183d3d;
    position: absolute;
    top: 4px;
    right: 4px;
}

    .modal__request-hide-button .cross-line {
        position: absolute;
        width: 13px;
        height: 3px;
        border-radius: 2px;
        background: #183d3d;
        transform-origin: center;
        transform: rotate(45deg);
    }

        .modal__request-hide-button .cross-line:nth-child(2) {
            transform: rotate(-45deg);
        }

.modal__info-tooltip {
    text-align: justify;
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    background: #def5e5;
    color: #183d3d;
    position: relative;
    border-radius: 8px;
    font: clamp(13px, 1.2vw, 16px);
    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}

    .modal__info-tooltip::after {
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px;
        border-color: transparent transparent #def5e5 transparent;
        position: absolute;
        bottom: 100%;
        right: 11%;
    }

.modal__request-info,
.modal__delete-request-button {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    gap: 15px 80px;
    color: #183d3d;
}

.modal__request-info h3 {
    font: 500 clamp(16px, 1.7vw, 24px) "Fira Sans";
}

    .modal__request-info span {
        margin-right: 8px;
        font-weight: 400;
    }

.modal__delete-request-button {
    justify-content: flex-start;
    gap: 12px;
}

.modal__body-request .modal__project-status p span {
    text-decoration: underline;
    cursor: pointer;
    color: #183d3d;
}

.modal__request-body a {
    color: #183d3d;
}

.modal__body-request .button {
    color: #183d3d;
    font: 500 clamp(15px, 1.3vw, 20px) "Fira Sans";
    padding: 8px;
}

    .modal__body-request .modal__info-tooltip {
        visibility: hidden;
        width: fit-content;
    }

        .modal__body-request .modal__info-tooltip p {
            font: 300 clamp(13px, 1.1vw, 18px) "Fira Sans";
            color: #183d3d;
        }

    .modal__body-request .modal__info-tooltip::after {
        display: block;
        left: 100%;
        top: calc(50% - 8px);
        transform: rotate(90deg);
    }

.modal__body-request .button:hover + .modal__info-tooltip {
    visibility: visible;
    animation: float 1s ease-in-out infinite alternate;
}

@keyframes float {
    0% {
        transform: translateX(6px);
    }

    100% {
        transform: translateX(1px);
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .modal__body, .modal__body-request {
        gap: 25px 30px;
        width: 88%;
        min-width: 400px;
        min-height: 300px;
        padding: 24px 30px;
        margin-top: 7vh;
        margin-bottom: 5vh;
    }

    .modal__header-container{
        row-gap: 5px;
    }

    .modal__body-request {
        min-height: 250px;
    }

    .modal__technologies-container > div {
        min-height: 28px;
        min-width: 28px;
        padding: 0 5px;
    }

    .modal__user-item a {
        height: 30px;
    }

    .modal__repository-link-input{
        width: 80%;
    }
}

@media (max-width: 600px) {
    .modal__body,
    .modal__body-request {
        gap: 12px;
        width: 97%;
        min-width: 290px;
        min-height: 250px;
        padding: 20px 18px;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .modal__close-button {
        height: 28px;
        width: 28px;
        border: 3px solid #183d3d;
    }

        .modal__close-button .cross-line {
            width: 15px;
            height: 3px;
            border-radius: 2px;
        }

    .modal__header {
        row-gap: 5px;
    }

        .modal__header h1 {
            padding-bottom: 0px;
        }

    .modal__delete-request-button {
        flex-direction: column-reverse;
        row-gap: 0px;
    }

    .modal__body-request .modal__info-tooltip::after {
        display: block;
        left: 87%;
        top: calc(100% - 3px);
        transform: rotate(180deg);
    }

    @keyframes float {
        0% {
            transform: translateY(3px);
        }

        100% {
            transform: translateY(1px);
        }
    }

    .modal__technologies-container > div {
        min-height: 24px;
        min-width: 24px;
        padding: 0 5px;
    }

    .modal__user-item a {
        height: 25px;
    }

    .modal__body-subject {
        padding: 6px;
    }

    .modal__request-hide-button {
        height: 20px;
        width: 20px;
    }

        .modal__request-hide-button .cross-line {
            width: 11px;
            height: 2px;
            border-radius: 1.5px;
        }

    .modal__repository-link-input {
        width: 100%;
    }

    .modal__danger-item {
        flex-direction: column;
    }

    .modal__request-container {
        padding: 4px 4px 0px;
    }
}