@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

.project__toast {
    width: fit-content;
    max-width: 300px;
    background: #BCEAD5;
    border-radius: 8px;
    border: 1px solid #183d3d;
    padding: 8px;
    position: fixed;
    top: 76px;
    right: 8px;
    z-index: 3;
    animation: toastAppear .3s ease 1 normal;
}

    .project__toast p {
        font: 400 16px "Fira Sans";
        color: #183d3d;
    }

.toast-error {
    background-color: #f1c0c0;
    border: 2px solid tomato;
}

@keyframes toastAppear {
    from {
        right: -300px;
    }

    to {
        right: 8px;
    }
}

.project__body {
    width: 100%;
    height: calc(100% - 70px);
    position: fixed;
    left: 0;
    background: linear-gradient(180deg, #9ED5C5 10%, #9ED5C5 250px, #DEF5E5 400px, #DEF5E5 100%);
    overflow: hidden auto;
    display: flex;
    flex-direction: column;
}

.project__header {
    height: 250px;
    max-height: 250px;
    min-height: 250px;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) no-repeat center center;
    background-image: url('/images/project-page-header-background.png');
    background-repeat: repeat no-repeat;
    background-size: auto 230px;
    background-position-y: 100%;
    padding: 80px 10vw 20px 10vw;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    gap: 24px;
    color: #183d3d;
    animation: animatedBackground 1000s linear infinite;
    position: sticky;
    top: -150px;
    z-index: 1;
}

.project__repository-link {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 4px;
    background: transparent;
    border-radius: 24px;
    border: 3px solid #183d3d;
    color: #183d3d;
    padding: 4px 16px;
    align-items: center;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

    .project__repository-link > a {
        color: #183d3d;
        pointer-events: auto;
    }

    .project__header::before,
    .project__header::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #9ED5C5);
    }

    .project__header::before {
        background: linear-gradient(to left, rgba(255, 255, 255, 0), #9ED5C5);
        left: 0;
    }

        .project__header::after {
            right: 0;
        }

@keyframes animatedBackground {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -10000px;
    }
}

.project__header h1 {
    font: 600 clamp(32px, 4vw, 56px) "Fira Sans";
    height: fit-content;
    transition: all ease-in-out .3s;
}

.project__header .project__header-info {
    margin-right: 20%;
    font: 500 clamp(16px, 4vw, 20px) "Fira Sans";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 8px 80px;
}

        .project__header .project__header-info div,
        .project__actions button {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
        }

.project__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    color: #183d3d;
    width: 70%;
    position: relative;
    left: 15%;
    padding: 50px 0 0 0;
    align-self: stretch;
    flex-shrink: 0;
}

.project__technologies,
.project__description,
.project__actions,
.project__team {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #bcead5;
    border-radius: 12px;
    border: 1px solid #183d3d;
    padding: 12px;
    gap: 12px;
}

.project__actions,
.project__team {
    height: 156px;
    padding: 32px;
    width: stretch;
    min-width: fit-content;
    gap: 28px;
    flex-wrap: nowrap;
    flex: 1;
}

.project__team {
    padding: 12px;
    gap: 12px;
}

    .project__technologies h2,
    .project__description h2,
    .project__team h2 {
        font: 700 clamp(16px, 4vw, 20px) "Fira Sans";
    }

.project__description p {
    text-align: justify;
    font: 400 clamp(14px, 3.8vw, 16px) "Fira Sans";
}

.project__technologies div,
.project__actions div,
.project__actions div h3 {
    color: #183d3d;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

    .project__actions div {
        padding: 0 12px;
    }

.project__actions .project__actions-buttons {
    flex-wrap: nowrap;
}

.project__technologies div p {
    background: #DEF5E5;
    border-radius: 12px;
    border: 2px solid #bcead5;
    font: 500 clamp(14px, 3.8vw, 16px) "Fira Sans";
    padding: 8px;
}

.project__actions .project__actions-buttons button {
    background: #BCEAD5;
    border-radius: 8px;
    border: 2px solid #183d3d;
    width: fit-content;
    padding: 4px 12px;
    align-items: center;
}

    .project__actions .project__actions-buttons button i {
        border: none;
        font-size: clamp(16px, 4vw, 20px);
        color: #183d3d;
        width: 24px;
        height: 24px;
    }

    .project__actions .project__actions-buttons button:hover {
        background: #9ED5C5;
    }
    
    .project__actions .project__actions-buttons .light {
        background: #DEF5E5;
    }

    .project__actions .project__actions-buttons .light:hover {
        background: #BCEAD5;
    }

.project__actions i {
    border-radius: 50%;
    border: 2px solid #183d3d;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 2px;
    font-size: 12px;
}

.project__actions h3 {
    font: 500 clamp(16px, 4vw, 20px) "Fira Sans";
}

.project__team .project__team-dropdown {
    background: #def5e5;
    border-radius: 16px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-height: 200px;
    overflow: auto;
}

    .project__team .project__team-dropdown .project__team-dropdown-item {
        padding: 4px;
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
        width: 100%;
    }

.project__team-dropdown-item a {
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    width: 100%;
    color: #183d3d;
}

    .project__team .project__team-dropdown .project__team-dropdown-item img {
        width: 28px;
    }

        .project__team .project__team-dropdown .project__team-dropdown-item p {
            font: 500 16px "Fira Sans";
        }

    .project__team h2 span {
        font: 400 16px "Fira Sans";
    }

.project__alt {
    position: relative;
    width: 70%;
    left: 15%;
    text-align: center;
    padding: 44px 0 12px 0;
    font: 400 16px "Fira Sans";
}

    .project__alt div {
        text-decoration: underline;
        cursor: pointer;
    }

@media (max-width: 600px) {
    .project__content {
        width: 85%;
        left: 50%;
        transform: translateX(-50%);
        padding: 50px 0;
    }

    .project__header {
        height: 220px;
        max-height: 220px;
        min-height: 220px;
        padding: 52px 3vw 12px 3vw;
        top: -100px;
    }
        .project__header h1 {
            font-size: 28px;
            text-align: center;
            z-index: 1;
        }

        .project__header .project__header-info {
            font-size: 16px;
            flex-direction: row-reverse;
            margin-right: 0;
            z-index: 1;
        }

        .project__header .project__repository-link {
            position: absolute;
            top: 28px;
            right: 12px;
            z-index: 1;
            padding: 4px 8px;
            animation: appear 1s linear;
            margin: -20px -8px;
            overflow: hidden;
        }

            .project__header .project__repository-link::before {
                animation: appear 1s linear;
                background-color: rgb(255, 255, 255, .3);
                content: '';
                backdrop-filter: blur(8px);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
            }

            .project__header .project__repository-link a {
                font-size: 14px;
            }

            .project__header .project__repository-link i {
                font-size: 20px;
            }

            .fixed-bottom {
                position: fixed !important;
                top: auto !important;
                bottom: 40px;
                left: auto;
                right: 32px !important;
            }

    @keyframes appear {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .project__header .project__header-info div {
        flex-direction: row-reverse;
    }

    .project__technologies,
    .project__description,
    .project__actions,
    .project__team {
        padding: 8px;
    }

        .project__technologies h2,
        .project__description h2,
        .project__actions h2,
        .project__team h2 {
            font-size: 16px;
        }

    .project__technologies div {
        gap: 8px;
    }

        .project__technologies div p {
            font-size: 14px;
        }

    .project__description p {
        font-size: 14px;
    }

    .project__actions, .project__team {
        width: 100%;
        height: fit-content;
    }

        .project__actions h3 {
            font-size: 16px;
        }

        .project__actions div {
            font-size: 16px;
        }

        .project__actions div:not(.project__actions-buttons) * {
            gap: 4px;
        }

    .project__actions {
        align-items: center;
        gap: 12px;
        padding: 20px 0;
    }

        .project__actions .project__actions-buttons {
            flex-wrap: wrap;
            justify-content: center;
        }

            .project__actions .project__actions-buttons button {
                gap: 4px;
                padding: 4px;
            }

                .project__actions .project__actions-buttons button p {
                    font-size: 14px;
                }

                .project__actions .project__actions-buttons button i {
                    font-size: 20px;
                }
}