@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap');

user-account-day a,
user-account-day button,
user-account-day input,
user-account-day select,
user-account-day h1,
user-account-day h2,
user-account-day h3,
user-account-day h4,
user-account-day h5,
user-account-day p,
user-account-day * {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    appearance: none;
    background: none;
}

::-webkit-scrollbar {
    width: 20px;
    z-index: 2;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #bcead5;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #8ec3b0;
    }

.hidden {
    display: none !important;
}

.user-account-day__tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #183d3dc6;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 8px;
    position: absolute;
    z-index: 2;
    top: 120%;
    left: 50%;
    margin-left: -60px;
}

    .user-account-day__tooltip::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #183d3dc6 transparent;
    }

.user-account-day,
.user-account-day * {
    box-sizing: border-box;
}

.user-account-day {
    background: #def5e5;
    width: 100%;
    height: calc(100% - 70px);
    position: fixed;
    left: 0;
    overflow: hidden auto;
}

.user-account-day__page-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: 2.5%;
    left: 2.5%;
    width: 95%;
}

.user-account-day__horizontal-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.user-account-day__user-projects {
    background: #bcead5;
    border-radius: 24px;
    border-style: solid;
    border-color: #8ec3b0;
    border-width: 1px;
    padding: 33px 36px 33px 36px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-width: 400px;
    position: relative;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

    .user-account-day__user-projects h2 {
        color: #183d3d;
        text-align: center;
        font-family: "Fira Sans", sans-serif;
        font-size: 32px;
        font-weight: 700;
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.user-account-day__projects-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.user-profile-day__projects-container {
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%/2, max(450px, 500px)), 1fr));
    grid-gap: 20px;
    justify-items: center;
}

    .user-profile-day__projects-container .user-account-day__project{
        min-width: 450px;
        max-width: 500px;
    }

    .user-account-day__project {
        background: #bcead5;
        border-radius: 16px;
        border-style: solid;
        border-color: #183d3d;
        border-width: 2px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
        justify-content: flex-start;
        flex: 1;
        min-width: 350px;
        position: relative;
    }

    .user-account-day__project h2 {
        color: #183d3d;
        text-align: center;
        font-family: "Fira Sans", sans-serif;
        font-size: 24px;
        font-weight: 700;
        position: relative;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.user-account-day__project-technologies-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

    .user-account-day__project-technologies-container h3 {
        color: #183d3d;
        text-align: left;
        font-family: "Fira Sans", sans-serif;
        font-size: 20px;
        font-weight: 700;
        position: relative;
    }

.user-account-day__technologies {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-self: stretch;
    flex-shrink: 1;
    position: relative;
    overflow: visible;
}

    .user-account-day__technologies .removeTechOverlay {
        position: absolute;
        background: rgb(180, 63, 63, 0.70);
        width: calc(100% + 4px);
        height: 100%;
        transition: .5s ease-in-out;
        opacity: 0;
        margin: 0;
        padding: 0;
        border: none;
        user-select: none;
        pointer-events: none;
    }

    .user-account-day__technologies div {
        background: #def5e5;
        min-height: 48px;
        min-width: 48px;
        border-radius: 16px;
        border-style: solid;
        border-color: #bcead5;
        border-width: 2px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        position: relative;
        overflow: visible;
    }

    .user-account-day__technologies.hover-active div:hover {
        cursor: pointer;
    }

        .user-account-day__technologies.hover-active div:hover .removeTechOverlay {
            transition: .5s ease;
            opacity: 1;
        }

        .user-account-day__technologies.hover-active div:hover .user-account-day__tooltip {
            visibility: visible;
        }

    .user-account-day__technologies p {
        color: #183d3d;
        text-align: justify;
        font-family: "Fira Sans", sans-serif;
        font-size: 16px;
        font-weight: 500;
        position: relative;
    }

    .user-account-day__technologies .user-account-day__technologies-dropdown,
    .modal__technologies-container .modal__technologies-dropdown {
        background: #def5e5;
        border: 2px solid #bcead5;
        border-radius: 16px;
        padding: 4px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: flex-start;
        min-width: 150px;
        max-width: 200px;
        max-height: 200px;
        overflow: hidden;
    }

        .user-account-day__technologies .user-account-day__technologies-dropdown .header,
        .modal__technologies-container .modal__technologies-dropdown .header {
            width: 100%;
            border: 0;
            margin: 0;
            padding: 0;
            min-height: unset;
            display: flex;
            gap: 8px;
            flex-direction: row;
            align-items: center;
        }

            .user-account-day__technologies .user-account-day__technologies-dropdown .header input,
            .modal__technologies-container .modal__technologies-dropdown .header input {
                box-sizing: border-box;
                background: #bcead5;
                border-radius: 12px;
                width: 100%;
                text-align: left;
                font-family: "Fira Sans", sans-serif;
                font-size: 16px;
                font-weight: 500;
                text-decoration: none;
                color: #183d3d;
                position: relative;
                padding: 8px;
                margin: 0;
                z-index: 1;
            }

            .user-account-day__technologies .user-account-day__technologies-dropdown .header img,
            .modal__technologies-container .modal__technologies-dropdown .header img {
                width: 15%;
                height: fit-content;
                border: 0;
                margin: 0;
                padding: 0;
                cursor: pointer;
            }

        .user-account-day__technologies .user-account-day__technologies-dropdown .container,
        .modal__technologies-container .modal__technologies-dropdown .container {
            border: 0;
            width: 100%;
            border-radius: 0;
            border-bottom-left-radius: 12px;
            padding: 4px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: flex-start;
            justify-content: flex-start;
            flex-shrink: 1;
            position: relative;
            overflow: hidden auto;
        }

            .user-account-day__technologies .user-account-day__technologies-dropdown .container p,
            .modal__technologies-container .modal__technologies-dropdown .container p {
                background-image: linear-gradient(to right, #def5e5, #bcead5, #def5e5);
                background-size: 0 100%;
                background-repeat: no-repeat;
                width: 100%;
                color: #183d3d;
                text-align: left;
                font-family: "Fira Sans", sans-serif;
                font-size: 16px;
                font-weight: 400;
                text-decoration: none;
                position: relative;
                cursor: pointer;
                transition: .5s;
            }

                .user-account-day__technologies .user-account-day__technologies-dropdown .container p:hover,
                .modal__technologies-container .modal__technologies-dropdown .container p:hover {
                    background-size: 100% 100%;
                }

    .user-account-day__technologies .user-account-day__technologies_and_more {
        background: #bcead5;
    }

    .user-account-day__project-info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
    }

    .user-account-day__project-info div {
        padding: 0px 56px 0px 0px;
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }

        .user-account-day__project-info div h3 {
            color: #183d3d;
            text-align: left;
            font-family: "Fira Sans", sans-serif;
            font-size: 20px;
            font-weight: 700;
            position: relative;
        }

        .user-account-day__project-info div p {
            color: #183d3d;
            text-align: left;
            font-family: "Fira Sans", sans-serif;
            font-size: 20px;
            font-weight: 400;
            position: relative;
        }

.user-account-day__vertical-container {
    display: flex;
    flex-direction: column;
    gap: 65px;
    align-items: flex-end;
    justify-content: flex-start;
    flex: 1;
    min-width: 400px;
    position: relative;
}

.user-account-day__create-new-project {
    background: #bcead5;
    border-radius: 24px;
    border-style: solid;
    border-color: #8ec3b0;
    border-width: 1px;
    padding: 33px 0px 33px 0px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.user-account-day__create-new-project-header {
    color: #183d3d;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-account-day__new-project-info {
    position: relative;
    border-radius: 8px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    cursor: default;
}

    .user-account-day__new-project-info img {
        background: transparent;
        width: 24px;
        height: 24px;
        position: relative;
        margin: 0 8px;
        transition: all 0.3s ease-in-out;
    }

.user-account-day__info-tooltip {
    visibility: hidden;
    z-index: 1;
    text-align: justify;
    opacity: .40;
    width: 400px;
    padding: 8px;
    background: #def5e5;
    color: #183d3d;
    position: absolute;
    bottom: 50px;
    right: 0;
    border-radius: 8px;
    font: 16px;
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}

    .user-account-day__info-tooltip::after {
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 12.5px 0 12.5px;
        border-color: #def5e5 transparent transparent transparent;
        position: absolute;
        top: 100%;
        right: 10px;
    }

.user-account-day__new-project-info:hover .user-account-day__info-tooltip {
    visibility: visible;
    transform: translateY(-10px);
    opacity: 1;
    transition: .3s linear;
    animation: float-vertical 1s ease-in-out infinite alternate;
}
@keyframes float-vertical {
    0% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(1px);
    }
}

.top:hover {
    transform: translateY(-6px);
}

.user-account-day__project-name-container {
    border-radius: 12px;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-shrink: 0;
    min-width: 400px;
    position: relative;
}

    .user-account-day__project-name-container textarea {
        width: 100%;
        resize: none;
        outline: #183d3d;
        color: #183d3d;
        text-align: center;
        font-family: "Fira Sans", sans-serif;
        font-size: 28px;
        font-weight: 500;
    }

.user-account-day__apply-title-button {
    background: #bcead5;
    border-radius: 12px;
    border-style: solid;
    border-color: #183d3d;
    border-width: 2px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

    .user-account-day__apply-title-button p {
        color: #183d3d;
        text-align: center;
        font-family: "Fira Sans", sans-serif;
        font-size: 20px;
        font-weight: 700;
        position: relative;
    }

.user-account-day__create-new-project-detailed {
    background: #bcead5;
    border-radius: 24px;
    border-style: solid;
    border-color: #8ec3b0;
    border-width: 1px;
    padding: 33px 12px 33px 12px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
    overflow: visible;
}

    .user-account-day__create-new-project-detailed .header {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: stretch;
        position: relative;
    }

    .user-account-day__create-new-project-detailed h2 {
        color: #183d3d;
        text-align: center;
        font-family: "Fira Sans", sans-serif;
        font-size: 32px;
        font-weight: 600;
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.user-account-day__project-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.user-account-day__create-new-project-detailed h3 {
    color: #183d3d;
    text-align: left;
    font-family: "Fira Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    align-self: flex-start;
}

.user-account-day__project-desc {
    background: #def5e5;
    border-radius: 12px;
    border-style: solid;
    border-color: #183d3d;
    border-width: 1px;
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

    .user-account-day__project-desc textarea {
        width: 100%;
        resize: none;
        outline: #183d3d;
        color: #183d3d;
        text-align: center;
        font-family: "Fira Sans", sans-serif;
        font-size: 20px;
        font-weight: 400;
    }

.user-account-day__new-project-technologies-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.user-account-day__new-project-level {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

    .user-account-day__new-project-level .user-account-day__new-project-level-dropdown {
        position: relative;
        display: inline-block;
        border: none;
        display: flex;
        flex-direction: row;
    }

        .user-account-day__new-project-level .user-account-day__new-project-level-dropdown label {
            background-color: #def5e5;
            color: #183d3d;
            padding: 12px;
            font-family: "Fira Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            border: 2px solid #bcead5;
            border-radius: 16px;
        }

        .user-account-day__new-project-level .user-account-day__new-project-level-dropdown div {
            display: none;
            position: relative;
            background-color: #def5e5;
        }

            .user-account-day__new-project-level .user-account-day__new-project-level-dropdown div:last-child {
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
            }

            .user-account-day__new-project-level .user-account-day__new-project-level-dropdown div p {
                color: #183d3d;
                padding: 12px;
                font-family: "Fira Sans", sans-serif;
                font-size: 16px;
                font-weight: 400;
            }

                .user-account-day__new-project-level .user-account-day__new-project-level-dropdown div p:hover {
                    background-image: radial-gradient(#bcead5, transparent);
                }

        .user-account-day__new-project-level .user-account-day__new-project-level-dropdown:hover label {
            background-color: #bcead5;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border: 2px solid #183d3d;
            transition: border-color ease-in 0.5s, background-color ease-in 0.3s;
        }

        .user-account-day__new-project-level .user-account-day__new-project-level-dropdown:hover div {
            display: flex;
            flex-direction: row;
        }

.user-account-day__new-project-duration {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.arrow {
    border: solid #183d3d;
    border-width: 0 4px 4px 0;
    border-radius: 1px;
    display: inline-block;
    padding: 4px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    cursor: pointer;
}
    .up:hover {
        transition: .3s linear;
        animation: odsoky 1s ease-in-out alternate infinite;
    }

@keyframes odsoky {
    0% {
        transform: rotate(-135deg) translateY(0) translateX(0);
    }

    50% {
        transform: rotate(-135deg) translateY(-1px) translateX(-1px);
    }

    100% {
        transform: rotate(-135deg) translateY(0) translateX(0);
    }
}

.customNumberInput {
    padding: 1rem;
    color: #def5e5;
    background: #def5e5;
    display: flex;
    width: 7rem;
    height: 3rem;
    border: 2px #def5e5 solid;
    border-radius: 3em;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    transition: .3s;
}

    .customNumberInput input {
        font-family: "Fira Sans", sans-serif;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        background: none;
        color: #183d3d;
        width: auto;
        position: relative;
        margin: 0;
    }

        .customNumberInput input::-webkit-outer-spin-button,
        .customNumberInput input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    .customNumberInput i {
        cursor: pointer;
    }

        .customNumberInput i:hover {
            border-width: 0 7px 7px 0;
            border-radius: 3px;
            transition: ease-in .1s;
        }

.user-account-day__buttons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

    .user-account-day__buttons p {
        color: #183d3d;
        text-align: center;
        font-family: "Fira Sans", sans-serif;
        font-size: 20px;
        font-weight: 700;
        position: relative;
    }

.user-account-day__create-project-button {
    background: #bcead5;
    border-radius: 12px;
    border-style: solid;
    border-color: #183d3d;
    border-width: 2px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.user-account-day__cancel-button {
    border-color: #c81d1d;
}

.user-account-day__user-requests {
    background: #bcead5;
    border-radius: 24px;
    border-style: solid;
    border-color: #8ec3b0;
    border-width: 1px;
    padding: 33px 12px 33px 12px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.user-account-day__user-requests-title {
    color: #183d3d;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-account-day__user-requests-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.user-account-day__request {
    background: #bcead5;
    border-radius: 16px;
    border-style: solid;
    border-color: #183d3d;
    border-width: 2px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    position: relative;
}

    .user-account-day__request h2 {
        color: #183d3d;
        text-align: center;
        font-family: "Fira Sans", sans-serif;
        font-size: 24px;
        font-weight: 700;
        position: relative;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.user-account-day__request-info {
    display: flex;
    flex-direction: row;
    gap: 36px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: center;
    flex-shrink: 0;
    position: relative;
}

    .user-account-day__request-info div {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .user-account-day__request-info h3 {
        color: #183d3d;
        text-align: justify;
        font-family: "Fira Sans", sans-serif;
        font-size: 20px;
        font-weight: 700;
        position: relative;
    }

    .user-account-day__request-info p {
        color: #183d3d;
        text-align: justify;
        font-family: "Fira Sans", sans-serif;
        font-size: 20px;
        font-weight: 400;
        position: relative;
    }

.user-account-day__user-account {
    background: #9ed5c5;
    border-radius: 24px;
    border-style: solid;
    border-color: #8ec3b0;
    border-width: 1px;
    padding: 40px 90px 40px 90px;
    display: flex;
    flex-direction: row;
    gap: 30px 100px;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    flex-shrink: 0;
    height: auto;
    position: relative;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    flex-wrap: wrap;
}

.user-account-day__user-image-container {
    border-radius: 50%;
    border-style: solid;
    border-color: #183d3d;
    border-width: 5px;
    flex-shrink: 0;
    width: 311px;
    height: 311px;
    position: relative;
}

.user-account-day__user-image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-account-day__input-user-image {
    display: none;
}

.user-account-day__change-user-image-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: .5s ease-in-out;
    opacity: 0;
    padding: 20px;
    vertical-align: middle;
    user-select: none;
    pointer-events: none;
}

    .user-account-day__change-user-image-overlay label {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        cursor: pointer;
    }

    .user-account-day__change-user-image-overlay p {
        color: #def5e5;
        text-align: center;
        vertical-align: middle;
        font-family: "Fira Sans", sans-serif;
        font-size: 24px;
        font-weight: 700;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15%;
        height: auto;
        width: 70%;
        cursor: pointer;
    }

    .user-account-day__change-user-image-overlay span {
        font-size: 16px;
        font-weight: 600;
        display: block;
        margin-top: 15px;
    }

.user-account-day__user-image-container.hover-active:hover {
    transition: .5s ease;
    border-color: #def5e5;
}

    .user-account-day__user-image-container.hover-active:hover .user-account-day__change-user-image-overlay {
        opacity: 1;
        pointer-events: auto;
    }

.user-account-day__delete-user-image-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 17%;
    height: 17%;
    cursor: pointer;
}


.user-account-day__user-account-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    min-width: 400px;
    position: relative;
}

    .user-account-day__user-account-details h2 {
        color: #183d3d;
        text-align: left;
        font-family: "Fira Sans", sans-serif;
        font-size: 48px;
        font-weight: 500;
        position: relative;
        align-self: stretch;
        min-width: 400px;
    }

.user-account-day__user-email {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

    .user-account-day__user-email p {
        color: #183d3d;
        text-align: left;
        font-family: "Fira Sans", sans-serif;
        font-size: 24px;
        font-weight: 600;
        position: relative;
        width: 66px;
    }

.user-account-day__user-details-header {
    color: #183d3d;
    text-align: justify;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    width: 209px;
}

.user-account-day__self-description {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

    .user-account-day__self-description textarea {
        width: 100%;
        resize: none;
        padding: 5px;
        overflow: hidden;
        outline: #183d3d;
        color: #183d3d;
        text-align: justify;
        font-family: "Fira Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        outline: none;
        border-radius: 12px;
    }

.user-account-day__profile-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

    .user-account-day__profile-buttons button {
        background: #bcead5;
        border-radius: 12px;
        border-style: solid;
        border-color: #183d3d;
        border-width: 2px;
        padding: 8px 16px 8px 16px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }

        .user-account-day__profile-buttons button p {
            color: #183d3d;
            text-align: justify;
            font-family: "Fira Sans", sans-serif;
            font-size: 20px;
            font-weight: 700;
            position: relative;
        }

.user-account-day__sign-out {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

    .user-account-day__sign-out p {
        color: #183d3d;
        text-align: justify;
        font-family: "Fira Sans", sans-serif;
        font-size: 20px;
        font-weight: 400;
        position: relative;
    }

    .user-account-day__sign-out a {
        color: #183d3d;
        text-align: justify;
        font-family: "Fira Sans", sans-serif;
        font-size: 24px;
        font-weight: 400;
        position: relative;
    }

.user-account-day__color-mode-switch {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    position: fixed;
    left: 45px;
    bottom: 45px;
    overflow: visible;
    z-index: 5;
}

#user-account-day__detailed-info-button {
    background: #bcead5;
    border-radius: 12px;
    border-style: solid;
    border-color: #183d3d;
    border-width: 2px;
    padding: 8px;
    margin-top: auto; 
    align-self: flex-end;
}

#user-account-day__detailed-info-button p {
    color: #183d3d;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}