<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - testProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AuthPages.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/testProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/UserAccount.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ModalWindow.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ProjectPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/NotificationsPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background: #def5e5;">
    <div id="loggedOutToast" class="project__toast hidden">
        <p></p>
    </div>
    <header>
        <nav class="navbar__container">
            <div class="navbar__branding">
                <i></i>
                <p>ourWebsiteName</p>
            </div>
            <ul class="navbar__tabs">
                <li class="navbar__tab-item">
                    <i class="fa fa-home"></i>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="navbar__tab-item">
                    <i class="fa fa-user"></i>
                    <a asp-area="UserAccount" asp-controller="Account" asp-action="Index">Account</a>
                </li>
                <li class="navbar__tab-item">
                    <i class="fa fa-bell">
                        <div class="notification-circle hidden" id="notificationCircle"></div>
                    </i>
                    <a asp-area="Notifications" asp-controller="Notifications" asp-action="Index">Notifications</a>
                </li>
                <li class="navbar__tab-item">
                    <i class="fa fa-question-circle"></i>
                    <a asp-area="" asp-controller="" asp-action="">Help</a>
                </li>
            </ul>
            <partial name="_LoginPartial" for="@Model" />
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@7.0.14/dist/browser/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/NotificationsHub")
            .build();

        connection.on("ReceiveNotification", function (message) {

            console.log('Navbar ReceiveNotification');
            console.log(message);
            showNotificationCircle();
        });

        connection.start()
            .then(function () {
                console.log("Connection to SignalR hub established");
            })
            .catch(function (err) {
                console.error(err.toString());
            });

        function showNotificationCircle() {
            const notificationCircle = $('#notificationCircle');
            notificationCircle.removeClass('hidden');
            let currentCount = parseInt(notificationCircle.text()) || 0;
            currentCount += 1;
            notificationCircle.text(currentCount.toString());
            console.log('currentCount: ' + currentCount);
        }


        function updateNotificationCircle() {
            $.ajax({
                url: '@Url.Action("CheckUnreadNotifications", "Notifications", new { area = "Notifications" })',
                method: 'GET',
                success: function (data) {
                    console.log('unread notifications: ' + data.unreadNotificationsCount);
                    const notificationCircle = $('#notificationCircle');

                    if (data.unreadNotificationsCount > 0) {
                        notificationCircle.removeClass('hidden');
                        notificationCircle.text(data.unreadNotificationsCount);
                    } else {
                        notificationCircle.addClass('hidden');
                    }
                },
                error: function (error) {
                    console.error('Error checking unread notifications:', error);
                }
            });
        }

        // Call the function on page load
        $(document).ready(function () {
            updateNotificationCircle();
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
