<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - testProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AuthPages.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/testProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/UserAccount.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ModalWindow.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ProjectPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background: #def5e5;">
    <div id="loggedOutToast" class="project__toast hidden">
        <p></p>
    </div>
    <header>
        <nav class="navbar__container">
            <div class="navbar__branding">
                <i></i>
                <p>ourWebsiteName</p>
            </div>
            <ul class="navbar__tabs">
                <li class="navbar__tab-item">
                    <i class="fa fa-home"></i>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="navbar__tab-item">
                    <i class="fa fa-user"></i>
                    <a asp-area="UserAccount" asp-controller="Account" asp-action="Index">Account</a>
                </li>
                <li class="navbar__tab-item">
                    <i class="fa fa-bell"></i>
                    <a asp-area="" asp-controller="" asp-action="">Notifications</a>
                </li>
                <li class="navbar__tab-item">
                    <i class="fa fa-question-circle"></i>
                    <a asp-area="" asp-controller="" asp-action="">Help</a>
                </li>
            </ul>
            <partial name="_LoginPartial" for="@Model" />
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
