<div role="separator" class="separator-clouds-wide">
    <div>
        <hr />
    </div>
    <svg width="240" height="74" viewBox="0 0 241 74" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M239.821 38.2109C238.157 30.5301 230.188 26.2482 230.188 26.2482C230.188 26.2482 229.364 20.823 224.003 16.6501C218.643 12.4772 210.808 12.8936 210.808 12.8936C210.808 12.8936 205.86 4.96497 193.078 8.72102C181.944 12.893 181.532 24.3992 181.532 24.3992C181.532 24.3992 169.228 27.778 168.02 38.2109H154.68C152.662 29.008 143 23.2108 143 23.2108C143 23.2108 142 16.7105 135.5 11.7106C129 6.71077 119.5 7.20966 119.5 7.20966C119.5 7.20966 113.5 -2.29014 97.9999 2.21025C84.4999 7.20899 83.9999 20.9953 83.9999 20.9953C83.9999 20.9953 69.0808 25.7105 67.6154 38.2109H56C54 32.7109 49.3688 30.9704 49.3688 30.9704C49.3688 30.9704 48.7274 26.7972 44.5582 23.5872C40.3889 20.3773 34.2953 20.6976 34.2953 20.6976C34.2953 20.6976 30.4468 14.5987 20.5047 17.4879C11.8454 20.6971 11.5248 29.548 11.5248 29.548C11.5248 29.548 4 30.9704 1.5 38.2109" stroke="#183D3D" />
        <path d="M239.821 53.7109C239 57.2109 238.744 58.8625 235.137 62.9554C221.529 78.3961 202.561 62.1212 202.561 62.1212C202.561 62.1212 195.782 70.6115 186.48 69.6323C173.697 69.6323 167.607 60.8051 168.02 53.7109H154.897C154.858 57.7539 153.373 60.3065 149 65.2105C132.5 83.711 109.5 64.211 109.5 64.211C109.5 64.211 101.279 74.3838 90.0001 73.2106C74.4999 73.2106 67.1153 62.2109 67.6153 53.7109H56C56 54.7109 56.0228 58.366 53.2174 61.5144C42.6338 73.3918 27.881 60.8727 27.881 60.8727C27.881 60.8727 22.6079 67.4037 15.3734 66.6505C5.43117 66.6505 0.694535 59.168 1.01525 53.7109" stroke="#183D3D" />
    </svg>
    <div>
        <hr />
    </div>
</div>