@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="notifications__body">
        <div class="notifications__header">
            <div>
                <i class="fa fa-bell"></i>
                <p></p>
            </div>
            <h1>Your notifications</h1>
        </div>
        <div class="notifications__notification-items-container">
            <h1 class="hidden">You don’t have any notifications yet</h1>
        </div>
    </div>
    <script src="@Url.Content("~/js/Notifications.js")"></script>
</body>
</html>